# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/src/generated/resources/.cache/

project
/.github/git-commit-instructions.md
/docs/mkdocs/site/

pyvenv
__pycache__
/.lingma/
/src/main/java/indi/wenyan/content/gui/code_editor/_generator_py/py_map.json
